/* Window and titlebar */
.lyrics,
.lyrics .titlebar {
    border: 0px solid transparent;
    box-shadow: 0 0 transparent;
    transition: 500ms ease;
    background-image: linear-gradient(to left, #abacae, #d4d4d4);
}

.lyrics.dark,
.lyrics.dark .titlebar {
    background-image: linear-gradient(to right, #7239b3, #452981);
}

/* Window and titlebar inactive */
.lyrics:backdrop.translucid-backdrop,
.lyrics:backdrop.translucid-backdrop .titlebar {
    color: #0c0c0c;
    background: rgba(255, 255, 255, 0.25);
}

.lyrics:backdrop.translucid-backdrop .titlebar * {
    opacity: 0;
}

.lyrics.dark:backdrop.translucid-backdrop,
.lyrics.dark:backdrop.translucid-backdrop .titlebar {
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
}

/* Display colors */
.lyrics .display:backdrop {
    color: #0c0c0c;
}

.lyrics.dark .display:backdrop {
    color: #fff;
}

.lyrics .display.selected {
    transition: 300ms linear;
    color: #62005A;
}

.lyrics.dark .display.selected {
    color: rgba(255, 200, 0, 1);
}

/* Fonts */
.lyrics .stack {
    font-size: 2em;
    font-weight: bold;
}

.lyrics .lyric-title {
    font-size: 1.55em;
    font-weight: 700;
}
.lyrics .lyric-artist {
    font-size: 0.75em;
}

/* I'm not proud of this stylesheet... */
