[Desktop Entry]
Name=Lyrics
GenericName=Lyrics displayer
Comment=The styleful way to sing your songs
Categories=AudioVideo;Audio;Education;Music;
Exec=com.github.naaando.lyrics
Icon=com.github.naaando.lyrics
Terminal=false
Type=Application
X-GNOME-Gettext-Domain=com.github.naaando.lyrics
Keywords=lyrics;music;
